@import url("http://fonts.googleapis.com/css?family=Karla:400,700,400italic");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "ostrich-sans--regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ostrich-sans/ostrich-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-sans/ostrich-regular.woff2") format("woff2"), url("../fonts/ostrich-sans/ostrich-regular.woff") format("woff"), url("../fonts/ostrich-sans/ostrich-regular.ttf") format("truetype"), url("../fonts/ostrich-sans/ostrich-regular.svg#ostrich-sans--regular") format("svg"); }
h1, h2, .main-nav, .services-banner__sidebar__list, .services__more-info-link {
  font-family: "ostrich-sans--regular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  letter-spacing: 0.25em; }

.services-banner__sidebar__list, .services-text, .services-list, .services-list__table, .packages-section, .services-column__list, .team-roster__title__container, .contact-heading__title, .contact-info__detail, .disclaimer-text .center, .disclaimer-heading__title {
  text-align: center; }

.services-list, .package__title, .services-column__list, .bridal-offer, .contact-form h3 {
  text-transform: uppercase; }

.team-roster__profile a, .profile-job {
  color: #B72F34; }

.services-text__container, .overlay--services, .services__more-info-link, .services__more-info-link::after, .fa-play, .submitBtn {
  transition: all .3s ease-out; }

.packages-section, .contact-heading, .contact-form {
  background-color: #1c1c1c; }

.services-heading__title::after, .team-roster__title::after, .contact-heading__title h1::after,
.services-list__title::after {
  content: '';
  height: 0.125rem;
  width: 40%;
  background-color: #ed1c24;
  display: block;
  margin: .5em auto 0; }

.contact-form__form input, .contact-form__form textarea, .contact-form__form button {
  background-color: transparent; }

body {
  background-color: white; }

img {
  max-width: 100%;
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (max-width: 620px) {
  .fixed-offset {
    position: relative;
    top: 4em; } }

html {
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #565656;
  letter-spacing: 0.125em; }
  @media screen and (max-width: 800px) {
    html {
      font-size: 14px; } }

a {
  color: #565656;
  text-decoration: none; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.5em; }

p, td {
  font-size: 0.6875em;
  line-height: 22px; }

/*header styles*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 1.25em; }
  @media screen and (max-width: 800px) {
    .header {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  @media screen and (max-width: 620px) {
    .header {
      position: fixed;
      z-index: 1000;
      background-color: #ffffff;
      padding-bottom: 0;
      height: 15vmin; } }

.main-logo {
  -webkit-flex-basis: 25%;
  -moz-flex-basis: 25%;
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%; }
  @media screen and (max-width: 800px) {
    .main-logo {
      width: 40%;
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
      -ms-flex-item-align: center;
      min-height: 80px; } }
  @media screen and (max-width: 620px) {
    .main-logo {
      margin-bottom: 0;
      min-height: initial; } }

.footer {
  padding: 1.25em;
  background-color: #2f2f2f;
  color: #ffffff; }
  .footer .main-logo {
    float: none;
    width: 100%; }
    @media screen and (max-width: 620px) {
      .footer .main-logo {
        width: 40%; } }
  .footer .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    @media screen and (max-width: 620px) {
      .footer .wrapper {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center; } }
    .footer .wrapper::after {
      display: none; }
  .footer .fa {
    font-size: 2em;
    margin-right: 6px;
    color: #999999;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    .footer .fa:hover {
      color: white; }

.footer__contact {
  width: 30%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }
  @media screen and (max-width: 620px) {
    .footer__contact {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2;
      text-align: center;
      width: 20em;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 3.125em;
      margin-bottom: 1.5625em; } }

.footer__contact-info {
  margin-top: 6%;
  margin-bottom: 4%; }

.footer__hours-operaton td {
  padding: 4px; }
@media screen and (max-width: 620px) {
  .footer__hours-operaton {
    margin: 3.125em 0; } }
@media screen and (max-width: 330px) {
  .footer__hours-operaton {
    font-size: 0.6875em; } }

.social-media {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 70%; }
  @media screen and (max-width: 620px) {
    .social-media {
      -webkit-align-self: center;
      -moz-align-self: center;
      align-self: center;
      -ms-flex-item-align: center; } }

.hours-table {
  border-collapse: initial;
  border-spacing: 30px 0; }
  .hours-table tr:first-of-type {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold; }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 65%;
  -moz-flex-basis: 65%;
  flex-basis: 65%;
  -ms-flex-preferred-size: 65%;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  @media screen and (max-width: 620px) {
    .nav {
      display: none; } }

.main-nav {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.main-nav a {
  color: #565656;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  .main-nav a:hover {
    color: #ed1c24; }

.main-nav__slash {
  background-color: red;
  height: auto;
  width: 1px;
  position: relative;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg); }

.current-link {
  color: #ed1c24; }

#menu-btn {
  display: none; }
  @media screen and (max-width: 620px) {
    #menu-btn {
      display: block;
      position: absolute;
      font-size: 1.5625em; } }

.hero-video {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .hero-video::after {
    clear: both;
    content: "";
    display: table; }
  .hero-video .overlay, .hero-video .overlay--services {
    border-bottom: 0.3125em solid #B72F34; }

.hero-video__video {
  width: 100%;
  height: auto; }

.overlay, .overlay--services {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(28, 28, 28, 0.8); }

.hero-logo {
  position: absolute;
  z-index: 10;
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .hero-logo:last-child {
    margin-right: 0; }

.services-banner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.banner-image__container {
  flex-grow: 1; }

.services-banner__sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-color: #B72F34;
  background: url("../images/bg-tile.png");
  padding: 6%; }
  .services-banner__sidebar img {
    width: 12.5em; }
  @media screen and (max-width: 620px) {
    .services-banner__sidebar {
      display: none; } }

.services-banner__sidebar__list {
  color: #ffffff;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 40%; }
  .services-banner__sidebar__list * {
    margin-bottom: 20%; }
    .services-banner__sidebar__list *:last-child {
      margin-bottom: 0; }

.services-heading__text-container {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 90%, white), url("../images/mens-services__bg.jpg");
  background-size: contain;
  background-position: 100%;
  padding: 50px 40% 100px 5%;
  background-repeat: no-repeat;
  margin-top: 5%; }
  @media screen and (max-width: 620px) {
    .services-heading__text-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      width: 100%;
      margin-bottom: 5%;
      background-position: 50%;
      padding: 1.25em 2.5em;
      background: none; } }

.services-heading__title, .team-roster__title, .contact-heading__title h1,
.services-list__title {
  display: inline-block; }

@media screen and (max-width: 620px) {
  .services-heading__title, .team-roster__title, .contact-heading__title h1 {
    -webkit-align-self: center;
    -moz-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    width: 240px;
    text-align: center; } }

.services {
  margin: 1em auto; }

.services__container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.services__image {
  width: 50%;
  position: relative; }
  @media screen and (max-width: 620px) {
    .services__image {
      display: none; } }

.services-text__container {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  @media screen and (max-width: 620px) {
    .services-text__container {
      width: 100%;
      margin: 0.625em 0;
      padding: 1.875em 0; } }
  .services a:hover .services-text__container {
    background-color: #B72F34;
    color: #ffffff; }

.services-text {
  width: 80%;
  border: 1px solid #ed1c24;
  padding: 7%; }
  .services a:hover .services-text {
    border-color: #ffffff; }

.services-text__title::after {
  content: '';
  width: 6em;
  background-color: #565656;
  height: 1px;
  display: block;
  margin: 2% auto 0; }
  .services a:hover .services-text__title::after {
    background-color: #ffffff; }

.services a:nth-child(2) .services-text__container {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  box-ordinal-group: -1;
  -webkit-order: -1;
  -moz-order: -1;
  order: -1;
  -ms-flex-order: -1; }

.overlay--services {
  background-color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .services a:hover .overlay--services {
    background-color: rgba(28, 28, 28, 0.6); }

.services__more-info-link {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0);
  -webkit-transform: translateY(-1.25em);
  -moz-transform: translateY(-1.25em);
  -ms-transform: translateY(-1.25em);
  -o-transform: translateY(-1.25em);
  transform: translateY(-1.25em); }
  .services__more-info-link::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent;
    position: absolute;
    top: -0.15em; }
    .services a:hover .services__more-info-link::after {
      border-color: transparent transparent transparent #b72f33; }
  .services a:hover .services__more-info-link {
    color: #ffffff;
    -webkit-transform: translateY(0em);
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    -o-transform: translateY(0em);
    transform: translateY(0em); }

.services-list {
  margin: 4.375em auto; }
  .services-list__title {
    margin-top: 0;
    margin-bottom: 10%; }

.services-list__table {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
  @media screen and (max-width: 620px) {
    .services-list__table {
      margin: 1.25em auto;
      width: 16.25em;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }

.services-list__item:not(:last-child) {
  margin-bottom: 1.25em;
  border-bottom: 1px dotted #cfcfcf;
  padding-bottom: 1.25em; }

.packages-section {
  background: url("../images/packages--bg-2.png"); }

.packages {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3% 0; }
  @media screen and (max-width: 620px) {
    .packages {
      padding: 1.875em 0; } }

.packages__package {
  border: 1px solid #5e5f5f;
  padding: 3%; }
  @media screen and (max-width: 620px) {
    .packages__package {
      width: 70%; } }
  @media screen and (max-width: 620px) {
    .packages__package:not(:last-child) {
      margin-bottom: 1.25em; } }

.package__title {
  color: #B72F34; }

.package__description {
  color: #ffffff; }

.services-heading--womens {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 90%, white), url("../images/womens-hair.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120%; }
  @media screen and (max-width: 620px) {
    .services-heading--womens {
      background: none; } }

.services-column__list {
  margin: 1.875em auto;
  width: 80%; }

.services-column__list__group {
  border: 1px solid #cfcfcf;
  margin-bottom: 1.875em;
  padding: 1.875em 13%; }

.services-column__list__group__title {
  color: #B72F34;
  margin: 0;
  margin-bottom: 1.875em; }

.services-column__list__group__items {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .services-column__list__group__items li {
    margin-right: 2%;
    margin-bottom: 1em;
    font-size: 0.6875em; }
    .services-column__list__group__items li:not(:last-child)::after {
      content: '/';
      color: #cfcfcf;
      position: relative;
      margin: 0 0.625em; }

.bridal-offer {
  text-align: center;
  color: #B72F34;
  margin: 3.125em 0; }
  .bridal-offer p {
    font-size: 0.875em; }
  .bridal-offer img {
    height: 20px;
    width: auto;
    display: inline-block; }

/*esthetics styles*/
.services-heading--esthetics {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 90%, white), url("../images/face.jpg");
  background-size: contain;
  background-position: 100%;
  padding: 50px 40% 100px 5%;
  background-repeat: no-repeat;
  margin-top: 5%; }
  @media screen and (max-width: 620px) {
    .services-heading--esthetics {
      background: none;
      padding: 1.25em 2.5em; } }

.fa-play {
  color: #B72F34;
  font-size: 0.8em;
  margin: 0; }
  a:hover .fa-play {
    transform: translateX(0.3125em); }

.team-blog {
  background-color: #1c1c1c;
  color: #ffffff;
  background: url("../images/packages--bg-2.png"); }

.team-blog__article {
  line-height: 2.5;
  padding: 40px 5%;
  margin: 0;
  text-transform: uppercase;
  color: #f2f2f2; }

.team-roster {
  margin: 9.375em 0; }

.team-roster__title {
  margin: 0 auto; }

.team-roster__profiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.team-roster__profile {
  display: flex;
  width: 38%;
  margin-top: 10%;
  font-size: 0.5em; }

.profile-underline {
  height: 1px;
  background-color: #cfcfcf; }

.profile-blog {
  font-size: 1.2em; }

.profile-name {
  font-size: 2.2em; }

.profile-job {
  font-size: 1.4em; }

.profile-img {
  margin-top: 10%;
  margin-right: 5%;
  width: 600px;
  height: 150px;
  background-size: cover;
  background-position: center; }

.chad-img {
  background-image: url("../images/members-profile-pics/chadwin-Bartley-.jpg"); }

.camille-img {
  background-image: url("../images/members-profile-pics/Camille-Bartley.jpg"); }

.tashana-img {
  background-image: url("../images/members-profile-pics/tashana-thompson-hair-stylist.jpg"); }

.manpreet-img {
  background-image: url("../images/members-profile-pics/manpreet-bhinder-.jpg"); }

.travis-img {
  background-image: url("../images/members-profile-pics/Travis-Lakeram---Barber-.jpg"); }

.derek-img {
  background-image: url("../images/members-profile-pics/Derek.jpg"); }

.kimberlee-img {
  background-image: url("../images/members-profile-pics/kimberlee-Hair-stylist-.jpg"); }

.harpreet-img {
  background-image: url("../images/members-profile-pics/harpreet-small.jpg"); }

.google-map {
  width: auto;
  height: 500px;
  display: flex; }

.contact-heading__title {
  display: flex;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  padding: 3.125em; }
  .contact-heading__title p {
    font-size: 1.25em;
    letter-spacing: 0.3em; }
    .contact-heading__title p:last-child {
      font-style: italic; }

.contact-info {
  background-color: #B72F34; }

.contact-info-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  color: #ffffff;
  padding: 2.5em 0; }

.contact-info__detail {
  -webkit-flex-basis: 250px;
  -moz-flex-basis: 250px;
  flex-basis: 250px;
  -ms-flex-preferred-size: 250px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

@media screen and (max-width: 1017px) {
  .contact-info__detail:last-child {
    margin-top: 3.125em; } }
@media screen and (max-width: 766px) {
  .contact-info__detail:nth-child(n+4) {
    margin-top: 3.125em; } }
@media screen and (max-width: 500px) {
  .contact-info__detail:not(:first-child) {
    margin-top: 3.125em; } }
.contact-info__detail__icon {
  width: 3.125em;
  height: auto;
  margin: 0 auto; }

.contact-info__detail__text {
  margin-top: 2.5em; }
  .contact-info__detail__text p {
    line-height: initial; }
  .contact-info__detail__text p:first-of-type {
    font-weight: 700;
    font-size: 0.875em; }

.contact-info__divider {
  width: 1px;
  background-color: rgba(45, 45, 45, 0.48);
  height: 8.75em;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }

.disclaimer {
  color: #ffffff;
  background-color: #212121;
  padding: 6.25em 0; }
  .disclaimer .wrapper {
    padding: 0 2%; }

.disclaimer-text {
  font-size: 1.125em;
  max-width: 46.25em;
  margin: 0 auto; }
  .disclaimer-text .center {
    text-transform: uppercase; }

.disclaimer-heading__title {
  margin: 0;
  padding: 1.25em 0;
  line-height: 1.2; }

.contact-form {
  color: #ffffff;
  padding: 6.25em 0; }
  .contact-form h3 {
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    margin: 0; }

.contact-form__form-container {
  margin-top: 5em; }

.contact-form__form {
  text-align: center;
  color: #cccccc;
  margin: 0 auto;
  width: 70%; }
  @media screen and (max-width: 620px) {
    .contact-form__form {
      width: 90%; } }
  .contact-form__form input, .contact-form__form textarea {
    display: block;
    width: 100%;
    padding: 0.625em; }
  .contact-form__form input {
    margin-bottom: 1.25em; }
  .contact-form__form input, .contact-form__form textarea, .contact-form__form button {
    border: 1px solid #5e5f5f; }
    .contact-form__form input:focus, .contact-form__form textarea:focus, .contact-form__form button:focus {
      outline-color: #B72F34; }
  .contact-form__form textarea {
    height: 16.25em; }

.submitBtn {
  padding: 0.625em 6%;
  margin-top: 1.25em; }
  .submitBtn:hover {
    border-color: #ffffff; }

/*# sourceMappingURL=main.css.map */
