@import url("http://fonts.googleapis.com/css?family=Karla:400,700,400italic");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "ostrich-sans--regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ostrich-sans/ostrich-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-sans/ostrich-regular.woff2") format("woff2"), url("../fonts/ostrich-sans/ostrich-regular.woff") format("woff"), url("../fonts/ostrich-sans/ostrich-regular.ttf") format("truetype"), url("../fonts/ostrich-sans/ostrich-regular.svg#ostrich-sans--regular") format("svg"); }
h1, h2, .main-nav, .services-banner__sidebar__list, .services__more-info-link {
  font-family: "ostrich-sans--regular", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  letter-spacing: 0.25em; }

.services-banner__sidebar__list, .services-text, .services-list, .services-list__table, .packages-section, .services-column__list, .contact-heading__title, .contact-info__detail {
  text-align: center; }

.services-list, .package__title, .services-column__list, .bridal-offer, .contact-form h3 {
  text-transform: uppercase; }

.services-text__container, .overlay--services, .services__more-info-link, .services__more-info-link::after, .submitBtn {
  transition: all .3s ease-out; }

.packages-section, .contact-heading, .contact-form {
  background-color: #1c1c1c; }

.services-heading__title::after,
.services-list__title::after, .contact-heading__title h1::after {
  content: '';
  height: 0.125rem;
  width: 40%;
  background-color: #ed1c24;
  display: block;
  margin: .5em auto 0; }

.contact-form__form input, .contact-form__form textarea, .contact-form__form button {
  background-color: transparent; }

img {
  max-width: 100%;
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

html {
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #565656;
  letter-spacing: 0.125em; }

a {
  color: #565656;
  text-decoration: none; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.5em; }

p, td {
  font-size: 0.6875em;
  line-height: 20px; }

/*header styles*/
.header {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25em; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.main-logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .main-logo:last-child {
    margin-right: 0; }

.footer {
  padding: 1.25em;
  background-color: #343838;
  color: #ffffff; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer .main-logo {
    float: none;
    width: 100%; }
  .footer .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .footer .wrapper::after {
      display: none; }

.footer__contact {
  width: 30%;
  flex-direction: column;
  align-self: center; }

.fa {
  font-size: 2em;
  margin-right: 6px;
  color: #999999;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .fa:hover {
    color: white; }

.footer__contact-info {
  margin-top: 6%;
  margin-bottom: 4%; }

.footer__hours-operaton td {
  padding: 4px; }

.social-media {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  width: 70%; }

.hours-table {
  border-collapse: initial;
  border-spacing: 30px 0; }
  .hours-table tr:first-of-type {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin-left: auto; }
  nav:last-child {
    margin-right: 0; }

.main-nav {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.main-nav a {
  color: #565656;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  .main-nav a:hover {
    color: #ed1c24; }

.main-nav__slash {
  background-color: red;
  width: 1px;
  position: relative;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg); }

.current-link {
  color: #ed1c24; }

.hero-video {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .hero-video::after {
    clear: both;
    content: "";
    display: table; }
  .hero-video .overlay, .hero-video .overlay--services {
    border-bottom: 0.3125em solid #B72F34; }

.hero-video__video {
  width: 100%;
  height: auto; }

.overlay, .overlay--services {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(28, 28, 28, 0.8); }

.hero-logo {
  position: absolute;
  z-index: 10;
  height: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .hero-logo:last-child {
    margin-right: 0; }

.services-banner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.banner-image__container {
  flex-grow: 1; }

.services-banner__sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: space-between;
  -moz-align-content: space-between;
  align-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-color: #B72F34;
  background: url("../images/bg-tile.png");
  padding: 6%; }
  .services-banner__sidebar img {
    width: 12.5em; }

.services-banner__sidebar__list {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40%; }
  .services-banner__sidebar__list * {
    margin-bottom: 20%; }
    .services-banner__sidebar__list *:last-child {
      margin-bottom: 0; }

.services-heading__text-container {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/mens-services__bg.jpg");
  background-size: contain;
  background-position: 100%;
  padding: 50px 40% 100px 5%;
  background-repeat: no-repeat;
  margin-top: 5%; }

.services-heading__title,
.services-list__title {
  display: inline-block; }

.services {
  margin: 1% auto; }

.services__container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.services__image {
  width: 50%;
  position: relative; }

.services-text__container {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .services a:hover .services-text__container {
    background-color: #B72F34;
    color: #ffffff; }

.services-text {
  width: 80%;
  border: 1px solid #ed1c24;
  padding: 7%; }
  .services a:hover .services-text {
    border-color: #ffffff; }

.services-text__title::after {
  content: '';
  width: 6em;
  background-color: #565656;
  height: 1px;
  display: block;
  margin: 2% auto 0; }
  .services a:hover .services-text__title::after {
    background-color: #ffffff; }

.services a:nth-child(2) .services-text__container {
  order: -1; }

.overlay--services {
  background-color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .services a:hover .overlay--services {
    background-color: rgba(28, 28, 28, 0.6); }

.services__more-info-link {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0);
  transform: translateY(-1.25em); }
  .services__more-info-link::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent;
    position: absolute;
    top: -0.15em; }
    .services a:hover .services__more-info-link::after {
      border-color: transparent transparent transparent #b72f33; }
  .services a:hover .services__more-info-link {
    color: #ffffff;
    transform: translateY(0em); }

.services-list {
  margin: 10% auto; }
  .services-list__title {
    margin-top: 0;
    margin-bottom: 10%; }

.services-list__table {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }

.services-list__item:not(:last-child) {
  margin-bottom: 1.25em;
  border-bottom: 1px dotted #cfcfcf;
  padding-bottom: 1.25em; }

.packages-section {
  background: url("../images/packages--bg-2.png"); }

.packages {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3% 0; }

.packages__package {
  border: 1px solid #5e5f5f;
  padding: 3%; }

.package__title {
  color: #B72F34; }

.package__description {
  color: #ffffff; }

.services-heading--womens {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/womens-hair.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120%; }

.services-column__list {
  margin: 1.875em auto;
  width: 80%; }

.services-column__list__group {
  border: 1px solid #cfcfcf;
  margin-bottom: 1.875em;
  padding: 1.875em 13%; }

.services-column__list__group__title {
  color: #B72F34;
  margin: 0;
  margin-bottom: 1.875em; }

.services-column__list__group__items {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .services-column__list__group__items li {
    margin-right: 2%;
    margin-bottom: 1em;
    font-size: 0.6875em; }
    .services-column__list__group__items li:not(:last-child)::after {
      content: '/';
      color: #cfcfcf;
      position: relative;
      margin: 0 0.625em; }

.bridal-offer {
  text-align: center;
  color: #B72F34;
  margin: 3.125em 0; }
  .bridal-offer p {
    font-size: 0.875em; }
  .bridal-offer img {
    height: 20px;
    width: auto;
    display: inline-block; }

.services-heading--esthetics {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/face.jpg");
  background-size: contain;
  background-position: 100%;
  padding: 50px 40% 100px 5%;
  background-repeat: no-repeat;
  margin-top: 5%; }

a {
  text-decoration: none; }

.fa-play {
  color: #B72F34;
  font-size: 0.8em; }

.team-blog {
  display: flex;
  background-color: #1c1c1c;
  color: #ffffff; }
  .team-blog .team-blog__article {
    line-height: 300%; }

.team-roster__title {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 5%;
  font-weight: "http://fonts.googleapis.com/css?family=Karla:400,700,400italic";
  font-family: "Karla", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  .team-roster__title .title-underline {
    height: 2px;
    background-color: #ed1c24; }

.team-roster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%; }

.team-roster__profile {
  display: flex;
  width: 38%;
  margin-top: 10%;
  font-size: 0.5em; }

.profile-unerline {
  height: 1px;
  background-color: #5e5f5f; }

.profile-blog {
  font-size: 1.2em; }

.profile-name {
  font-size: 2.2em; }

.profile-job {
  font-size: 1.4em; }

.profile-img {
  margin-top: 10%;
  margin-right: 2%;
  width: 600px;
  height: 150px;
  background-size: cover;
  background-position: center; }

.chad-img {
  background-image: url("../images/members-profile-pics/chadwin-Bartley-.jpg"); }

.camille-img {
  background-image: url("../images/members-profile-pics/Camille-Bartley.jpg"); }

.tashana-img {
  background-image: url("../images/members-profile-pics/tashana-thompson-hair-stylist.jpg"); }

.manpreet-img {
  background-image: url("../images/members-profile-pics/manpreet-bhinder-.jpg"); }

.travis-img {
  background-image: url("../images/members-profile-pics/Travis-Lakeram---Barber-.jpg"); }

.derek-img {
  background-image: url("../images/members-profile-pics/Derek.jpg"); }

.kimberlee-img {
  background-image: url("../images/members-profile-pics/kimberlee-Hair-stylist-.jpg"); }

.harpreet-img {
  background-image: url("../images/members-profile-pics/harpreet-small.jpg"); }

.google-map {
  width: auto;
  height: 500px;
  display: flex; }

.contact-heading__title {
  display: flex;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  padding: 3.125em; }
  .contact-heading__title p {
    font-size: 1.25em;
    letter-spacing: 0.3em; }

.contact-info {
  background-color: #B72F34; }

.contact-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff;
  padding: 3% 0; }

.contact-info__detail__icon {
  width: 3.125em;
  height: auto;
  margin: 0 auto; }

.contact-info__detail__text {
  margin-top: 2.5em; }
  .contact-info__detail__text p {
    line-height: initial; }
  .contact-info__detail__text p:first-of-type {
    font-weight: 700;
    font-size: 0.875em; }

.contact-info__divider {
  width: 1px;
  background-color: rgba(45, 45, 45, 0.48);
  height: 8.75em;
  align-self: center; }

.contact-form {
  color: #ffffff;
  padding: 10% 0; }
  .contact-form h3 {
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: normal;
    margin: 0; }

.contact-form__form-container {
  margin-top: 5em; }

.contact-form__form {
  text-align: center;
  color: #cccccc;
  margin: 0 auto;
  width: 70%; }
  .contact-form__form input, .contact-form__form textarea {
    display: block;
    width: 100%;
    padding: 0.625em; }
  .contact-form__form input {
    margin-bottom: 1.25em; }
  .contact-form__form input, .contact-form__form textarea, .contact-form__form button {
    border: 1px solid #5e5f5f; }
  .contact-form__form textarea {
    height: 15.625em; }

.submitBtn {
  padding: 0.625em 6%;
  margin-top: 1.25em; }
  .submitBtn:hover {
    border-color: #ffffff; }

/*# sourceMappingURL=main.css.map */
