.google-map{
	width:auto;
	height: 500px;
	display:flex;
}


.contact-note{
	width:auto;
	background-color: #000000;
	display:flex;
	text-align:center;
	color:$color-text--light;
	align-items:center;
	flex-direction:column;
}


.contact-note__p1{
	margin-top:5%;
	font-size:2em;
	letter-spacing:0.2em;
}

.contact-note__p2{
	font-size:1.5em;
	font-style:italic;
	letter-spacing:0.3em;
}

.contact-note__title{
	font-size:3.5em;
	margin-top:5%;
	margin-bottom:0.5%;
}

.contact-note__underline{
	background-color:$brightred;
	height:2px;
	width:175px;
}