.footer{
	@include pad(em(20px));
	@include clearfix;
	background-color: $color-footer;
	color:$color-text--light;
	.main-logo{
		float: none;
		width:100%;
	}
	& .wrapper{
		@include display(flex);
		@include justify-content(space-between);
		&::after{
			display:none;
		}
	}
}

.footer__contact{
	width: 30%;
	flex-direction: column;
}

.fa{
	font-size:2em;
	margin-right:6px;
	color:darken($color-text--light, 40%);
	@include transition(.2s);

	&:hover{
		color:tint($color-text--light, 10%);
	}
	
}

.footer__contact-info{
	margin-top: 6%;
	margin-bottom:4%;
}


.footer__hours-operaton{
	td{
		padding:4px;
	}
}


.social-media{
	@include display(flex);
	@include justify-content(space-between);
  width: 70%;
}

.hours-table{
	border-collapse: initial;
	border-spacing: 30px 0;
		tr:first-of-type{
			text-transform:uppercase;
			font-size: em(20px);
			font-weight:bold;
		}
	}
	