.footer{
	@include pad(em(20px));
	background-color: $color-footer;
	color:$color-text--light;
	.main-logo{
		float: none;
		width:100%;

		@include small-screen{
			width: 40%;
		}
	}
	& .wrapper{
		@include display(flex);
		@include justify-content(space-between);

		@include small-screen{
			@include flex-direction(column);
			@include align-items(center);
		}
		
		&::after{
			display:none;
		}
	}
	.fa{
		font-size:2em;
		margin-right:6px;
		color:darken($color-text--light, 40%);
		@include transition(.2s);

		&:hover{
			color:tint($color-text--light, 10%);
		}
	}

}

.footer__contact{
	width: 30%;
	@include flex-direction(column);
	@include align-self(center);

		@include small-screen{
			@include order(2);
			text-align: center;
			width: em(320px);
			@include display(flex);
			margin-top: em(50px);
			margin-bottom: em(25px);

		}
}


.footer__contact-info{
	margin-top: 6%;
	margin-bottom:4%;
}


.footer__hours-operaton{
	td{
		padding:4px;
	}

		@include small-screen{
			margin: em(50px) 0;
		}
}


.social-media{
	@include display(flex);
	@include justify-content(space-between);
  width: 70%;

  @include small-screen{
  	@include align-self(center);
  }
}

.hours-table{
	border-collapse: initial;
	border-spacing: 30px 0;
		tr:first-of-type{
			text-transform:uppercase;
			font-size: em(20px);
			font-weight:bold;
		}
	}
	