/*header styles*/

.header{
  width:100%;
  @include display(flex);
  @include justify-content(space-between);
  @include pad(em(20px));

    @include med-screen{
      @include flex-direction(column);
    }

    @include small-screen{
      position: fixed;
      z-index: 1000;
      background-color: $color-text--light;
      padding-bottom: 0;
      height: 15vmin;
    }
}

.main-logo{
  @include flex-basis(25%);

    @include med-screen{
      width: 40%;
      // margin-bottom: em(35px);
      @include align-self(center);
      // padding-bottom: 8%;
      min-height:80px;
    }

    @include small-screen{
      margin-bottom: 0;
      min-height: initial;
     // margin: em(20px) 0;

    }
 }