
.hero-video{
 @include outer-container(100%);
 position: relative;
 // height: 100vh;
}

.hero-video__video{
  @include fill-parent();
  height: auto;
}

.overlay{
  position: absolute;
  @include size(100%);
  background: rgba(0, 0, 0, 0.8);
}

.hero-logo{
  position: absolute;
  z-index: 10;
  height: 100%;
  @include span-columns(8 of 12);
  @include shift(2);
  @include omega();
  @include display(flex);
  @include align-items(center);
}