.nav{
  @include display(flex);
  @include flex-basis(65%);
  @include align-items(center);

    @include small-screen{
      display: none;
    }
}

.main-nav{
    @include flex-basis(100%);
  @include display(flex);
  @include justify-content(space-around);
  @extend %font-secondary;
}

.main-nav a{
  color: $color-text--dark;
  text-decoration: none;
  position: relative;
  @include transition(color 0.3s ease-in-out);
  &:hover{
    color: $color-accent--light;
  }
}

.main-nav__slash{
  background-color: red;
  @include size(1px null);
  position: relative;
  @include transform (rotate(15deg));
}

.current-link{
  color: $color-accent--light;
}

#menu-btn{
  // position: absolute;
  display: none;

  @include small-screen{
    display: block;
    position:absolute;
    font-size: em(25px);
  }
}