.services-heading__text-container{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/mens-services__bg.jpg");
    background-size: contain;
    background-position: 100%;
    padding: 50px 40% 100px 5%;
    background-repeat: no-repeat;
    margin-top: 5%;
  
}

.services-heading__title, 
.services-list__title{
  display: inline-block;
  &::after{
  @extend %underline--accent;

  }
}