.services-heading__text-container{
    background: linear-gradient(rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 1)), url("../images/mens-services__bg.jpg");
    background-size: contain;
    background-position: 100%;
    padding: 50px 40% 100px 5%;
    background-repeat: no-repeat;
    margin-top: 5%;

    @include small-screen{
      @include display(flex);
      @include flex-direction(column);
      width: 100%;
      margin-bottom: 5%;
      background-position: 50%;
      padding: em(20px) em(40px);
      background: none;
    }
  
}

.services-heading__title, 
.services-list__title{
  display: inline-block;
  &::after{
  @extend %underline--accent;

  }
}

.services-heading__title{
  @include small-screen{
    @include align-self(center);
    width: 240px;
    text-align: center;
  }
}