.google-map{
	width:auto;
	height: 500px;
	display:flex;
}

//// contact heading starts///
.contact-heading{
	@extend %color-bg--dark;
}

.contact-heading__title{
	display:flex;
	@extend %center-text;
	color:$color-text--light;
	align-items:center;
	flex-direction:column;
	padding: em(50px);

	h1::after{
		@extend %underline--accent;
	}

	p{
		font-size:em(20px);
		letter-spacing:0.3em;
	}
}


//contact heading ends////




/////conatct info starts////


.contact-info{
	background-color:$color-accent--dark;
}

.contact-info-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	color:$color-text--light;
	padding: 3% 0;
}

.contact-info__detail{
	@extend %center-text;
}

// .icon-box {
// 	display:flex;
// 	flex-direction:column;
// 	align-items:center;
// 	text-align:center;
// 	padding:1%;
// 	margin-top:4%;
// 	font-size:1.1em;
// }

	.contact-info__detail__icon{
		width: em(50px);
		height: auto;
		margin: 0 auto;
	}

	.contact-info__detail__text{
		margin-top:em(40px);
		p{
			line-height: initial;
		}
		p:first-of-type{
			font-weight: $font-weight--bold;
			font-size: em(14px);
		}

	}

	.contact-info__divider{
		width: 1px;
		background-color: rgba(45, 45, 45, 0.48);
		height: em(140px);
		align-self: center;
	}

//contact info ends//

//contact form starts//

.contact-form{
	@extend %color-bg--dark;
	color: $color-text--light;
	padding: 10% 0;
	h3{
		text-align:center;
		@extend %uppercase;
		letter-spacing:0.3em;
		font-weight: normal;
		margin: 0;
	}
}
.contact-form__form-container{
	margin-top: em(80px);
}

.contact-form__form{
	text-align:center;
	color:shade($color-text--light, 20%);
	margin: 0 auto;
	width:70%;

	input, textarea{
		display:block;
		width: 100%;
		padding: em(10px);
	}

	input{
		margin-bottom: em(20px);		
	}

	input, textarea, button {
		@extend %bg--transparent;
		border: 1px solid $color-border;
	}

	textarea{
		height: em(250px);
	}
}

.submitBtn{
	padding: em(10px) 6%;
	margin-top:em(20px);
	@extend %transition--default;

	&:hover{
		border-color:$color-text--light;
	}
}