.photo-gallery{
	@extend %center-text;
	min-height: 80vh;
}

.gallery-heading__title{
	@extend .services-heading__title;
	text-indent: 3%;
}

.photo-gallery__items{
	padding:(em(80px)0 em(100px));
	#content{
		@include display(flex);
		@include flex-wrap(wrap);
	}
}

.gallery-nav{
	max-width: 40%;
	margin: 0 auto;
	@include justify-content(center);
	margin-top: em(30px);

	ul{
		@include display(flex);
		@include justify-content(space-around);
	}
}

#load-more{
	margin: 0 auto;
}





// =====================================
.photo-wrap{
	@include display(flex);
	@include flex-wrap(wrap);
	border:1px solid black;
	margin-bottom:3%;
}	

.img-wrap1{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic1.jpg");
}

.img-wrap2{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic2.jpg");
}

.img-wrap3{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic3.jpg");
}

.img-wrap4{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic4.jpg");
}

.img-wrap5{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic5.jpg");
}

.img-wrap6{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic6.jpg");
}

.img-wrap7{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic7.jpg");
}

.img-wrap8{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic8.jpg");
}

.img-wrap9{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic9.jpg");
}

.img-wrap10{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic10.jpg");
}

.img-wrap11{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic11.jpg");
}

.img-wrap12{
	background-image: url("../images/gallery pics/thumbnails/womens/Wpic12.jpg");
}

.img-wrap13{
	background-image: url("../images/gallery pics/thumbnails/womens/Lpic13.jpg");
}

.img-wrap14{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic1.jpg");
}

.img-wrap15{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic2.jpg");
}

.img-wrap16{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic3.jpg");
}

.img-wrap17{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic4.jpg");
}

.img-wrap18{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic5.jpg");
}

.img-wrap19{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic6.jpg");
}

.img-wrap20{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic7.jpg");
}

.img-wrap21{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic8.jpg");
}

.img-wrap22{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic9.jpg");
}

.img-wrap23{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic10.jpg");
}

.img-wrap24{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic11.jpg");
}

.img-wrap25{

	background-image: url("../images/gallery pics/thumbnails/mens/Mpic12.jpg");
	//@include flex-basis(100%);
	//@include order(-1);

}

.img-wrap26{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic13.jpg");
}

.img-wrap27{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic14.jpg");
}

.img-wrap28{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic15.jpg");
}

.img-wrap29{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic16.jpg");
}

.img-wrap30{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic17.jpg");
}

.img-wrap31{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic18.jpg");
}

.img-wrap32{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic19.jpg");
}

.img-wrap33{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic20.jpg");
}

.img-wrap34{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic21.jpg");
}

.img-wrap35{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic22.jpg");
}

.img-wrap36{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic23.jpg");
}

.img-wrap37{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic24.jpg");
}

.img-wrap38{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic25.jpg");
}

.img-wrap39{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic26.jpg");
}

.img-wrap40{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic27.jpg");
}

.img-wrap41{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic28.jpg");
}

.img-wrap42{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic29.jpg");
}

.img-wrap43{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic30.jpg");
}

.img-wrap44{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic31.jpg");
}

.img-wrap45{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic32.jpg");
}

.img-wrap46{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic33.jpg");
}

.img-wrap47{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic34.jpg");
}

.img-wrap48{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic35.jpg");
}

.img-wrap49{
	background-image: url("../images/gallery pics/thumbnails/mens/Mpic36.jpg");
}

.img-wrap50{

	background-image: url("../images/gallery pics/thumbnails/mens/Mpic37.jpg");
	@include flex-basis(100%);
	@include order(-1);
}





.img-wrap{
	//width:150px;
	height:150px;
	flex-grow:1;
	margin:0.5%;
	background-size:cover;
	background-position: center;
	@include flex-basis(em(170px));
}

.over-lay{
	width:100%;
	height:100%;
	background-color: #FFF;
	opacity:0;

	&:hover{
		opacity:0.3;
	}
}




.hero-txt{
	text-align:center;
	font-size: em(50px);
	display:block;

}

.womens-img-section,
.mens-img-section{
	width:50%;
	display:flex;
	flex-wrap:wrap;
	height:450px;
	overflow:scroll;
	transition: display .3s ease;

}




.mens-section-lbl{
	font-size: 2.5em;
    text-align: center;
    margin-bottom: 16%;
    position: absolute;
    background-color: white;
    width: 40%;
    z-index:50;
    display: none;
}

.division{
	height:50px;
	width:100%;
	background-color:$white;
}

.top-div{
	background-color:white;
}

.instafeed{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	
}

.div-lbl{

}
