.photo-gallery{
	@include display(flex);

	.wrapper{
		@include display(flex);
		@include justify-content(center);
	}
}

.photo-wrap{
	@include display(flex);
	@include flex-wrap(wrap);
	border:1px solid black;
	margin-bottom:3%;
}	

.img-wrap1{
	background-image: url("../images/gallery pics/pic1.jpg");
}

.img-wrap2{
	background-image: url("../images/gallery pics/pic2.jpg");
}

.img-wrap3{
	background-image: url("../images/gallery pics/pic3.jpg");
}

.img-wrap4{
	background-image: url("../images/gallery pics/pic4.jpg");
}

.img-wrap5{
	background-image: url("../images/gallery pics/pic5.jpg");
}

.img-wrap6{
	background-image: url("../images/gallery pics/pic6.jpg");
}

.img-wrap7{
	background-image: url("../images/gallery pics/pic7.jpg");
}

.img-wrap8{
	background-image: url("../images/gallery pics/pic8.jpg");
}

.img-wrap9{
	background-image: url("../images/gallery pics/pic9.jpg");
}

.img-wrap10{
	background-image: url("../images/gallery pics/pic10.jpg");
}

.img-wrap11{
	background-image: url("../images/gallery pics/pic11.jpg");
}

.img-wrap12{
	background-image: url("../images/gallery pics/pic12.jpg");
}

.img-wrap13{
	background-image: url("../images/gallery pics/pic13.jpg");
}

.img-wrap14{
	background-image: url("../images/gallery pics/pic14.jpg");
}

.img-wrap15{
	background-image: url("../images/gallery pics/pic15.jpg");
}

.img-wrap16{
	background-image: url("../images/gallery pics/pic16.jpg");
}

.img-wrap17{
	background-image: url("../images/gallery pics/pic17.jpg");
}

.img-wrap18{
	background-image: url("../images/gallery pics/pic18.jpg");
}

.img-wrap19{
	background-image: url("../images/gallery pics/pic19.jpg");
}

.img-wrap20{
	background-image: url("../images/gallery pics/pic20.jpg");
}

.img-wrap21{
	background-image: url("../images/gallery pics/pic21.jpg");
}

.img-wrap22{
	background-image: url("../images/gallery pics/pic22.jpg");
}

.img-wrap23{
	background-image: url("../images/gallery pics/pic23.jpg");
}

.img-wrap24{
	background-image: url("../images/gallery pics/pic24.jpg");
}

.img-wrap25{
	background-image: url("../images/gallery pics/pic25.jpg");
}

.img-wrap26{
	background-image: url("../images/gallery pics/pic26.jpg");
}

.img-wrap27{
	background-image: url("../images/gallery pics/pic27.jpg");
}

.img-wrap28{
	background-image: url("../images/gallery pics/pic28.jpg");
}

.img-wrap29{
	background-image: url("../images/gallery pics/pic29.jpg");
}

.img-wrap30{
	background-image: url("../images/gallery pics/pic30.jpg");
}

.img-wrap31{
	background-image: url("../images/gallery pics/pic31.jpg");
}

.img-wrap32{
	background-image: url("../images/gallery pics/pic32.jpg");
}

.img-wrap33{
	background-image: url("../images/gallery pics/pic33.jpg");
}

.img-wrap34{
	background-image: url("../images/gallery pics/pic34.jpg");
}

.img-wrap35{
	background-image: url("../images/gallery pics/pic35.jpg");
}

.img-wrap36{
	background-image: url("../images/gallery pics/pic36.jpg");
}

.img-wrap37{
	background-image: url("../images/gallery pics/pic37.jpg");
}

.img-wrap38{
	background-image: url("../images/gallery pics/pic38.jpg");
}

.img-wrap39{
	background-image: url("../images/gallery pics/pic39.jpg");
}

.img-wrap40{
	background-image: url("../images/gallery pics/pic40.jpg");
}

.img-wrap41{
	background-image: url("../images/gallery pics/pic41.jpg");
}

.img-wrap42{
	background-image: url("../images/gallery pics/pic42.jpg");
}

.img-wrap43{
	background-image: url("../images/gallery pics/pic43.jpg");
}

.img-wrap44{
	background-image: url("../images/gallery pics/pic44.jpg");
}

.img-wrap45{
	background-image: url("../images/gallery pics/pic45.jpg");
}

.img-wrap46{
	background-image: url("../images/gallery pics/pic46.jpg");
}

.img-wrap47{
	background-image: url("../images/gallery pics/pic47.jpg");
}

.img-wrap48{
	background-image: url("../images/gallery pics/pic48.jpg");
}

.img-wrap49{
	background-image: url("../images/gallery pics/pic49.jpg");
}

.img-wrap50{
	background-image: url("../images/gallery pics/pic50.jpg");
}





.img-wrap{
	width:150px;
	height:150px;
	flex-grow:1;
	margin:0.5%;
	background-size:cover;
	background-position: center;
}

.over-lay{
	width:100%;
	height:100%;
	background-color: #FFF;
	opacity:0;

	&:hover{
		opacity:0.3;
	}
}




.hero-txt{
	text-align:center;
	font-size: em(50px);
	display:block;

}

.womens-img-section,
.mens-img-section{
	width:50%;
	display:flex;
	flex-wrap:wrap;
	height:450px;
	overflow:scroll;

}

.womens-img-section{
	//border-left: 4px solid $porcelain;
}



.mens-section-lbl{
	font-size: 2.5em;
    text-align: center;
    margin-bottom: 16%;
    position: absolute;
    background-color: white;
    width: 40%;
    z-index:50;
    display: none;
}

.division{
	height:50px;
	width:100%;
	background-color:$porcelain;
}

.top-div{
	background-color:white;
}

.instafeed{
	display:flex;
	flex-direction:row;

	//height:450px;
	//overflow:scroll;
	//width:20%;
}



