.services-list{
   @extend %center-text;
   @extend %uppercase;
   margin: em(70px) auto;
   &__title{
    margin-top: 0;
    margin-bottom: 10%;
   }
}

.services-list__table{
  @include display(flex);
  @include justify-content(space-around);
  @extend %center-text;

  @include small-screen{
    margin:em(20px) auto;
    width: em(260px);
    @include flex-direction(column);
  }
}

.services-list__item:not(:last-child){
  margin-bottom:em(20px);
  border-bottom:1px dotted tint($color-border, 70%);
  padding-bottom:em(20px);
}

.packages-section{
  @extend %color-bg--dark;
  @extend %center-text;
  background: url('../images/packages--bg-2.png');
}

.packages{
  @include display(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  @include padding(3% 0);

  @include small-screen{
    padding: em(30px) 0;
  }
}

.packages__package{
  border: 1px solid $color-border;
  @include padding(3%);
  @include small-screen{
    width:70%;
  }
  &:not(:last-child){
    @include small-screen{
      margin-bottom: em(20px);
    }
  }
  // @extend %color-bg--dark;
}

.package__title{
  color: $color-accent--dark;
  @extend %uppercase;

}

.package__description{
  color: $color-text--light;
}