.services-heading--womens{
   background: linear-gradient(rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 1)), url("../images/womens-hair.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 120%;

   @include small-screen{
    background: none;
   }

}

.services-column__list{
  margin:em(30px) auto;
  width: 80%;
  @extend %center-text;
  @extend %uppercase;
}

.services-column__list__group{
  border: 1px solid tint($color-border, 70%);
  margin-bottom: em(30px);
  padding: em(30px) 13%;
}

.services-column__list__group__title{
  color: $color-accent--dark;
  margin: 0;
  margin-bottom: em(30px);
}

.services-column__list__group__items{
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  li{
    margin-right: 2%;
    margin-bottom: em(16px);
    font-size: em(11px);
      &:not(:last-child)::after{
        content: '/';
        color: tint($color-border, 70%);
        position: relative;
        margin: 0 em(10px);
      }
   }
}
    
.bridal-offer{
  text-align:center;
  color: $color-accent--dark;
  @extend %uppercase;
  margin: em(50px) 0;
    p{
      font-size: em(14px);
    }
    img{
      @include size(auto 20px);
      display: inline-block;
    }
}