body{
  background-color: white;
}

img{
  max-width: 100%;
  display:block;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper{
	max-width: em(1440px);
  margin: 0 auto;
}

.fixed-offset{
  @include small-screen{
    position: relative;
    top: 4em;
  }
}

