html{
  font-family: $font-family--primary;
  color: $color-text--dark;
  letter-spacing: em(2px); 

   @include med-screen{
    font-size: 14px;
  }  
}

a{
  color:$color-text--dark;
  text-decoration: none;
}

h1{
  @extend %font-secondary;
  font-size: em(36px);
}

h2{
  @extend %font-secondary;
  font-size: em(24px);
}

p, td{
  font-size:em(11px);
  line-height: 20px;
}