html{
  font-family: $font-family--primary;
  color: $color-text--dark;
  letter-spacing: em(1px); 
  font-size: 16px;

   @include med-screen{
    font-size: calc(.6em + 1vw);
  }  
}

a{
  color:$color-text--dark;
  text-decoration: none;
}

h1{
  @extend %font-secondary;
  font-size: em(36px);
}

h2{
  @extend %font-secondary;
  font-size: em(32px);
}

p, td{
  font-size:em(14px);
  line-height: 26px;
}
