// THEME COLORS

$brightred     : #ed1c24; //reds
$darkred       : #B72F34;

$capecod       : #2f2f2f; //grays
$scorpion      : #565656;
$dovegray      : #737373;
$almostblack   : #1c1c1c; 
$white         : #ffffff;
$porcelain     : #5e5f5f; 


// FUNCTIONAL NAMED COLORS

$color-accent--light     : $brightred;
$color-accent--dark      : $darkred; // maybe use darken function

$color-bg--dark          : $almostblack; 


$color-footer           : $capecod;
$color-footer--light     : $dovegray; // maybe use lighten function

$color-border           : $porcelain;

$color-text--dark        : $scorpion;
$color-text--light       : $white;


//FONT STACKS

@include font-face('ostrich-sans--regular', '../fonts/ostrich-sans/ostrich-regular' );

$font-url--google       : 'http://fonts.googleapis.com/css?family=Karla:400,700,400italic';
$font-family--primary   : 'Karla', $helvetica;
$font-family--secondary : 'ostrich-sans--regular', $lucida-grande;





//FONT WEIGHT

$font-weight--normal    : 400;
$font-weight--bold      : 700;


//IMAGES PATH RELATIVE

$path--rel              : '../images';



