// =============================================
// UTILITIES
// =============================================

// Import if Google Fonts URL is defined

@if variable-exists(font-url--google){
  @import url($font-url--google);
}





// =============================================
// MIXINS
// =============================================

//FONT PLACEHOLDERS

%italic(){
  font-weight: $font-weight--normal;
  font-style: italic;
}

%font-secondary(){
  font-family: $font-family--secondary;
  letter-spacing: em(4px);
}


//BACKGROUND IMAGE MIXIN

@mixin img-replace($img, $w, $h, $disp: block){
  background-image: url("#{path--rel}/#{$img}");
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
};