// =============================================
// UTILITIES
// =============================================

// Import if Google Fonts URL is defined

@if variable-exists(font-url--google){
  @import url($font-url--google);
}



// PLACEHOLDERS

//TYPOGRAPHY PLACEHOLDER

%italic{
  font-weight: $font-weight--normal;
  font-style: italic;
}

%font-secondary{
  font-family: $font-family--secondary;
  letter-spacing: em(4px);
}

%center-text{
  text-align:center;
}

%uppercase{
  text-transform: uppercase;
}

%color-accent--dark{
  color: $color-accent--dark;
}


//TRANSITION PLACEHOLDER
%transition--default{
  transition: all .3s ease-out;
}

// BACKGROUND PLACEHOLDER

%color-bg--dark{
  background-color:$color-bg--dark;
}

//UNDERLINE ACCENT

%underline--accent{
  content:'';
  height: rem(2px);
  width:40%;
  background-color: $color-accent--light;
  display: block;
  margin: .5em auto 0;
}

%bg--transparent{
  background-color:transparent;
}

// =============================================
// MIXINS
// =============================================


//OVERLAY MIXIN

@mixin overlay($color, $alpha){
  position: absolute;
  @include size(100%);
  background: rgba($color, $alpha);
};


@mixin med-screen {
  @media screen and (max-width: 800px){
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 620px){
    @content;
  }
}